%h1 Welcome to FormGuard
%h3 What is FormGuard?
%p FormGuard is a tool that enables a static site to use HTML forms

%h3 How do I use FormGuard?
%ol
  %li
    = link_to("Sign up", new_user_registration_path)
    = " for a FormGuard account"
  %li
    = link_to("Create", form_actions_path)
    = " your form"
  %li Embed the generated form in your site
  %li Wait for submissions!
