%h3 Provided below is a simple contact form to get you started
%h4 Paste the following HTML snippet to embed this form on your page:
%code
  %pre
    :escaped
      #{@embeddable_form}
%br
%br
%br
%h3 Preview:
%h4 Here is a working example of your form, go ahead and test it out
:preserve
  #{@embeddable_form}
  
