%h1= @form_action.name

- if @form_action.form_submissions.empty?
  %p No submissions yet, send requests to
  %code
    %pre= @form_action.example_tag
- else
  %h2 Submissions
  %ul
    = render partial: "/form_submissions/form_submission", collection: @form_action.form_submissions
